section-1
      .block-1
        .block-caption How Dreamshare works?
        .blog-of-3
          .blog-1
            .step.margin STEP 1
            .description
              .blog-name Sed leo enim, condimentum
              .blog-text
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          .blog-2
            .step STEP 2
            .description
              .blog-name Morbi velit risus
              .blog-text
                | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
          .blog-3
            .description
              .step.margin STEP 3
              .blog-name Sed leo enim, condimentum
              .blog-text
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      .block-2
        .block-caption Meet a partner for your best holiday
        .contacts
          .contact-1
            .img
            h4 Bradley Hunter 
            p Based in Chicago. I love playing tennis and loud music.
          .contact-2
            .img
            h4 Marie Bennett
            p Currently living in Colorado. Lover of art, languages and travelling.
          .contact-3
            .img
            h4 Diana Wells
            p
              | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
          .contact-4
            .img
            h4 Christopher Pierce
            p Star Wars fanatic. I have a persistent enthusiasm to create new things.
        .see-other-partners See other partners
