section-2
      .block-2
        .block-caption Discover holiday activity ideas
        .activities
          .activity-idea1.svg.media
            h3 Sports and Activis
          .activity-idea2.svg.media
            h3 Wellness and Health
          .activity-idea3.svg.media
            h3
              | Extreme Sports
              | and Expeditions
          .activity-idea4.svg.media
            h3 Games
          .activity-idea5.media
            h3 Culture and Education
          .activity-idea6.media
            h3 Enjomet and Relaxation
          .activity-idea7.svg.media
            h3 Trevelling